# Notebook Imports

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from math import factorial as f
import seaborn as sns

%matplotlib inline

# Problem Statement 1:
    Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. The data that resulted from the survey is summarized in the following table:
            High School    Bachelors    Masters    Ph.d.    Total
    Female   60                54          46        41       201 
    Male     40                44          53        57       194
    Total    100               98          99        98       395
   ### Question: Are gender and education level dependent at 5% level of significance? In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?

In [2]:
# H0: No relationship between gender and education level
obs = [60, 54, 46, 41, 40, 44, 53, 57]

total = [100, 98, 99, 98, 395]

rf = 201/395  # ratio of females
rm = 194/395  # ratio of males

exp = [total[0] * rf, total[1] * rf, total[2] * rf, total[3] * rf, 
       total[0] * rm, total[1] * rm, total[2] * rm, total[3] * rm]

stats.chisquare(obs, exp).statistic

8.006066246262538

In [3]:
# for SL = 0.05
stats.chi2.ppf(q=0.95, df=3)

7.814727903251179

- chi2(test) > chi2(sl) : H0 will be rejected. -> There is relationship between gender and education level

In [4]:
#

# Problem Statement 2:
    Using the following data, perform a oneway analysis of variance using Î±=.05. Write up the results in APA format.
    [Group1: 51, 45, 33, 45, 67] 
    [Group2: 23, 43, 23, 43, 45] 
    [Group3: 56, 76, 74, 87, 56]

In [5]:
# All 3 groups are same
g1 = [51, 45, 33, 45, 67]
g2 = [23, 43, 23, 43, 45]
g3 = [56, 76, 74, 87, 56]

stats.f_oneway(g1, g2, g3)

F_onewayResult(statistic=9.747205503009463, pvalue=0.0030597541434430556)

In [6]:
# p value < alpha: Reject Null Hypothesis

In [7]:
#

# Problem Statement 3:
    Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25. 
    For 10, 20, 30, 40, 50:

In [8]:
g1 = [10, 20, 30, 40, 50]
g2 = [10, 20, 30, 40, 50]
g_test = [10, 20, 30, 40, 50]

In [9]:
# F test for 1st set
stats.f_oneway(g1,g_test)

F_onewayResult(statistic=0.0, pvalue=1.0)

In [10]:
# F test for 1st set
stats.f_oneway(g2, g_test)

F_onewayResult(statistic=0.0, pvalue=1.0)

In [11]:
# combined F test all 3
stats.f_oneway(g1, g2, g_test)

F_onewayResult(statistic=0.0, pvalue=1.0)